# Python artifacts
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.egg-info
venv/
.env

# Docker files themselves
Dockerfile
.dockerignore

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Misc
*.log
*.local
